<div class="dashboard">
  <div class="course-details">
    <h3>Course Code</h3>
    <p>{{ courseDetails.code }}</p>
    
    <h3>Course Name</h3>
    <p>{{ courseDetails.name }}</p>
    
    <h3>Course Type</h3>
    <p>{{ courseDetails.type }}</p>
    
    <h3>Course Period</h3>
    <p>{{ courseDetails.period }}</p>
    
    <h3>Credits</h3>
    <p>Lecture - {{ courseDetails.credits.lecture }}</p>
    <p>Tutorial - {{ courseDetails.credits.tutorial }}</p>
    <p>Practical - {{ courseDetails.credits.practical }}</p>
    <p>Project - {{ courseDetails.credits.project }}</p>
    
    <h3>Course Outcomes (COs)</h3>
    <div class="outcomes">
      <span *ngFor="let outcome of courseDetails.outcomes">{{ outcome }}</span>
    </div>
    
    <h3>Mapped to this Course</h3>
    <div class="mapped">
      <span *ngFor="let po of courseDetails.mappedPOs">{{ po }}</span>
    </div>
  </div>

  <div class="charts">
    <h3>Assessment Progress</h3>
    <canvasjs-chart [options]="assessmentOptions"></canvasjs-chart>

    <h3>Student's Attendance</h3>
    <canvasjs-chart [options]="attendanceOptions"></canvasjs-chart>
  </div>
